.dashboard {
  width: 98%;
  margin: 0px auto;
  .dashboard-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .dashboard-item {
      flex-basis: 23%;
      border: 2px solid grey;
      margin: 5px 0;
      .MuiPaper-root {
        padding: 10px;
        background-color: #8080801a;
        .dashboard-head {
          display: flex;
          justify-content: space-between;
          p {
            font-weight: bold;
            font-size: 14px;
            font-family: sans-serif;
          }
          img {
            width: 100px;
            height: 100px;
          }
        }
        .price {
          font-weight: bold;
        }
      }
    }
  }
}
