.login-form {
  width: 70%;
  position: relative;
  top: 50px;
  max-width: 350px;
  margin: 0px auto;
  .form-head {
    text-align: center;
    img {
      width: 140px;
      height: 140px;
    }
    h3 {
      font-family: sans-serif;
      color: purple;
    }
  }
  .form-field {
    margin: 10px 0;
    label {
      font-weight: 600;
      font-size: 14px;
      font-family: sans-serif;
      color: purple;
    }
    .MuiTextField-root {
      margin-top: 6px;
    }
  }
  .forget-password {
    text-align: center;
    a {
      text-decoration: none;
      font-weight: bold;
      font-family: sans-serif;
      font-size: 13px;
      color: purple;
    }
  }
  button {
    margin-top: 10px;
    width: 100%;
    padding: 6px 0;
    background-color: purple;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: sans-serif;
    border: 0;
    cursor: pointer;
  }
}
